Enter user information
<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<h2>Form is invalid</h2>
		<ul>
			<% for message in @user.errors.full_messages %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
	
	<%= f.label :firstname, "First Name" %>
	<%= f.text_field :firstname %><br/>
	
	<%= f.label :lastname, "Last Name" %>
	<%= f.text_field :lastname %><br/>

	<%= f.label :email, "Email" %>
	<%= f.text_field :email %><br/>
	
	<%= f.label :username, "Username" %>
	<%= f.text_field :username %><br/>
	
	<%= f.label :password, "Password" %>
	<%= f.password_field :password %><br/>
	
	<%= f.label :cpassword, "Confirm Password" %>
	<%= f.password_field :cpassword %><br/>
	
	<%= f.submit %> 
<% end %>

<% if !flash[:error].nil? %>
 <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert" >×</button>
    <strong><%= flash[:error] %></strong>
    </div>
<% end %>